<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @user.firstname %></h1>
    <p>
      This is to inform you that your account has been removed.
    </p>
   
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>