
<% if current_user && current_user.admin?  %>
	<% @users.each do |user| %>
		<%=user.firstname %>
		<br />
		
 	<% end %>
 	<%= paginate @users %>

 <% else %>
  <h1> Not allowed! </h1>
<% end %>



